<mat-card>
  <form [formGroup]="vfs.filter">
    <div *ngFor="let region of vfs.regions">
      <input type="radio" formControlName="region" [value]="region" [attr.region]="region"> {{region}}
    </div>
    <div>
      <input matInput [matDatepicker]="pickerFrom" placeholder="From" formControlName="from">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </div>
    <div>
      <input matInput [matDatepicker]="pickerTo" placeholder="To" formControlName="to">
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </div>
    To: <input type="date" formControlName="to">
    Minors: <input type="checkbox" formControlName="minors">
    Adults: <input type="checkbox" formControlName="adults">
    Middle Aged: <input type="checkbox" formControlName="middleAged">
    Retired: <input type="checkbox" formControlName="retired">
  </form>

  <pre>
    {{ vfs.filter.value | json }}
  </pre>
</mat-card>
