<div class="grid">
  <app-video-list
    [videos]="vss.videos | async"
    [selectedVideo]="vss.selectedVideo | async"
    (videoClicked)="vss.setSelectedVideo($event)"
  ></app-video-list>
  <app-view-filter></app-view-filter>
  <app-view-graph [views]="vss.filteredViews | async"></app-view-graph>
  <app-video-embedder
    [videoId]="(vss.selectedVideo | async)?.id"
  ></app-video-embedder>
</div>
<a routerLink="video-details" queryParamsHandling="merge">See details ---></a>
<button mat-button (click)="vss.addVideo()" action="e2e-add-video">Add Video</button>
<button mat-button (click)="vss.addView()" action="e2e-add-view">Add View</button>
